<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roy.recycleviewtest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <!--欢迎页-->
        <!--<activity-->
            <!--android:name=".activity.SplashActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar.Fullscreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
        android:name=".MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activity.StudyActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.roy.recycleviewtest.STUDY_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.roy.recycleviewtest.STUDY_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CalculatorActivity"
            android:label="@string/card_name_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BubbleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
         <provider
         android:name="androidx.core.content.FileProvider"
         android:authorities="roy.testtflite.fileprovider"
         android:exported="false"
         android:grantUriPermissions="true">
         <meta-data
         android:name="android.support.FILE_PROVIDER_PATHS"
         android:resource="@xml/file_paths"/>
         </provider>
        <activity android:name=".activity.TensorFlowLiteActivity"></activity>
    </application>

</manifest>